<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ShadowsocksR 服務</title>
</head>
<style>
.box {
  /* background-color: linen; */
  margin: auto;
  margin-top:30px;
  font-family: Microsoft JhengHei;
  /* background: #1234; */
  line-height:35px;
  width:300px;

}
</style>
<body>
    <div class="box">
      <h1 id="shadowsocksr">ShadowsocksR</h1>

      <h2 id="">服務</h2>

      <ul>
      <li>40M/40M 快速服務</li>

      <li>隱私</li>

      <li>安全</li>

      <li>TW IP</li>
      </ul>

      <h2 id="-1">聯絡</h2>

      <ul>
      <li>@gmail.com</li>
      </ul>

      <h2 id="-2">費用</h2>

      <ul>
      <li>1個月 150NTD 10M/10M</li>

      <li>詳細費用可談</li>
      </ul>

      <h2 id="-3">法律</h2>

      <ul>
      <li>本服務僅提供網路服務</li>

      <li>請勿利用本服務 做出違法事情</li>

      <li>若有任何法律責任 皆與本服務無關</li>
      </ul>

    </div>
</body>
